body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: url("taitaja2.jpg") no-repeat center center fixed;
      background-size: cover;
    }
.header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;
      background-color: #6ED2F2;
      color: white;	
	}
.brand{
      display:flex;
      align-items:center;
      justify-content:center;
      gap:50px;
    }	
main{
      flex:1;
      padding:clamp(18px, 5vw, 48px);
      display:grid;
      align-items:right-side;
    }
    .card{
      width:min(720px, 100%);
	  background-color: white;
      border:5px outset #6ED2F2;
      border-radius:22px;
      padding:clamp(18px, 3vw, 30px);
	  text-align: center;
    }
    .card2{
      width:min(720px, 100%);
	  background-color: white;
      border:5px outset #6ED2F2;
      border-radius:22px;
      padding:clamp(18px, 3vw, 30px);
	  text-align: left;
	  align-items: center;
    }
	.card3{
      width:min(720px, 100%);
	  background-color: white;
      border:5px outset #6ED2F2;
      border-radius:22px;
      padding:clamp(18px, 3vw, 30px);
	  text-align: left;
	  align-items: right;
    }
.corner-image {
  position: absolute;
  top: 120px;   /* säätää etäisyyttä headerista */
  right: 20px;  /* kiinnittää oikeaan reunaan */
}

.corner-image img {
  width: 180px;       /* säädä sopivaksi */
  border-radius: 12px;
  border: 3px solid #6ED2F2;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
h1 {
  color: black;
  font-family: Frutiger_LT_Pro_UltraBlack;
}
h2 {
  color: black;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.image-row {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.small-img {
  width: 30%;
  border-radius: 15px;
  border: 3px solid #6ED2F2;
  object-fit: cover;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
