body {
  background-color: white;
}
h1 {
  color: black;
}
h2 {
  color: black;
}
linkkiteksti {
  color: black;
  font-size: 40px;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
