body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: url("taitaja2022pori_1581.jpg") no-repeat center center fixed;
      background-size: cover;
    }
h1 {
  color: black;
  font-family: Frutiger_LT_Pro_UltraBlack;
}
h2 {
  color: black;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
